@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:400,700');
/*Style Basics */
* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', Montserrat,  sans-serif;
  color: #333;
  font-size: 1em;
}

.jumbotron {  
  border-radius: 0;
}

#heading {
  background: url(../img/bg-1.jpg) no-repeat;
  background-size: cover;
}

#services {
  background: url(../img/bg-2.jpg) no-repeat;
  background-size: cover;
}