.container {
  display: flex;
  justify-content: space-around;
}

.services,
.big-column {
  display: flex;
  flex-direction: column;
}

/**************************
Medium Devices
**************************/
@media (min-width: 922px) {
}
